* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
}
/* NAVIGATION */
.navigation {
    z-index: 100;
    background-color: black;
    top: 0;
    position: sticky;
}

.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 4rem;;
}

.nav-link {
    font-size: 2.5rem;
    font-weight: 400;
    color: white;
}

.nav-link:hover {
    color: #666666;
}

.nav-logo {
    font-size: 2.9rem;
    font-weight: 500;
    color: #fff;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all .3s ease-in-out;
    background-color: #ffffff;
}

/* IMAGE SLIDER */
.img-container {
    height: 100%;
}

.slideshow-img {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    /* display: none; */
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* MAIN CONTENT */
.main-container {
    margin: 96vh 20px 20px 20px;
    padding: 20px 20px;
    background: rgba(255,255,255, 0.2);
    border-radius: 10px;
}

.main-container h3 {
    font-size: 5rem;
    color: white;
}

.main-container p {
    font-size: 2.5rem;
    color: white;
}

/* EVENTS CONTAINER */
.events-container {
    text-align: center;
    color: white;
    margin-top: 50px;
}

.events-container h3 {
    font-size: 5rem;
    display: inline-block;
    border: 5px solid white;
    padding: 10px 15px;
    letter-spacing: 2px;
    word-spacing: 15px;
}

.event-tickets-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 30px 20px;
    grid-gap: 15px 0px;
    font-size: 2rem;
}

.artist {
    border: 5px solid white;
    padding: 15px;
    margin: 15px;
}

.artist button {
    font-size: 2.5rem;
    border-radius: 7px;
    padding: 5px 20px;
    margin: 20px 0px 0px;
}

.artist-image {
    width: 75%;
}

/* CONTACT & SOCIAL */
.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.social {
    color: white;
    text-align: center;
    font-size: 3rem;
}

.social-icons {
    margin: 20px;
    display:grid;
    grid-template-columns: 128px 128px;
    grid-gap: 30px;
    justify-content: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid white;
    margin: 0px 20px 20px;
    padding: 20px;
}

.contact-form h3 {
    font-size: 3.5rem;
    color: white;
    text-align: center;
}

.contact-form input {
    font-size: 2rem;
    padding: 3px 10px;
    border: none;
    border-radius: 3px;
}

.contact-form button {
    padding: 5px;
    font-size: 3rem;
    color: white;
    background-color: black;
    border: 4px solid white;
}

/* FOOTER */
.footer {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.1rem;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
    /* NAVIGATION */
    .nav-menu {
        position: fixed;
        left: 100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        padding: 0px 20px;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        width: 100%;
        border-bottom: 1px solid black;
        padding: 20px;
        margin: 0;
    }

    .nav-item:last-child {
        border-bottom: none;
    }

    .nav-link {
        color: black;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* EVENTS CONTAINER */
    .event-tickets-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact-container {
        display: block;
    }

}